<div class="navbar-header">
    </div>
    <h2>My Bots</h2>
    <div class = "list-container">
    <ul class="heroes">
      <p class="text">Bots</p>
      <li *ngFor="let bot of bots"
        [class.selected]="bot === selectedBot"
        (click)="onSelectBot(bot)">
        <span class="badge">{{bot.name}}</span> 
      </li>
    </ul>
    </div>
    <div class="list-container">
    <ul class="heroes">
      <p class="text">Activities</p>
      <li *ngFor="let activity of activities"
        [class.selected]="activity === selectedActivity"
        (click)="onSelectActivity(activity)">
        <span class="badge">{{activity}}</span> 
      </li>
    </ul>
    </div>
    <div class="list-container">
      <ul class="heroes">
        <p class="text">Contacts</p>
        <li *ngFor="let contact of contacts"
          [class.selected]="contact === selectedContact"
          (click)="onSelectContact(contact)">
          <contact-component [contact]="contact"></contact-component>
          <span class="badge">{{contact}}</span> 
        </li>
      </ul>
    </div>
    <div class="list-container">
      <ul class="heroes">
        <p class="text">Tasks</p>
        <li *ngFor="let task of tasks"
          [class.selected]="task === selectedTask"
          (click)="onSelectTask(task)">
          <span class="badge">{{task}}</span> 
        </li>
      </ul>
    </div>
    <!--<div *ngIf="selectedHero">
      <h2>
        {{selectedHero.name | uppercase}} is my hero
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>-->