
 <video class="vid" autoplay>
    <source src="app/assets/rapportDashboard.mp4" type="video/mp4">
  </video >


<modal #myModal>
      <div id="modal-style" style="height:280px">

        <div class="semi-header">
          Edit Task
        </div>

        <div>
          Set the interval and custom message
        </div>

        <div *ngIf="canSetDate()" class="form-group">
          <span>Start Date</span>
          <input class="selectBday" type="date" style="width:170px; border: 0px;" [(ngModel)]="customDate"/>
        </div>


        <div class="form-group">
          <span>Send message every</span>
          <input class="fb-input" type="text" [(ngModel)]="customInterval">
          <span>months</span>
        </div>

        <div>
          <span>Custom message:
          </span>
          <textarea class="text" [(ngModel)]="customMessage"></textarea>
        </div>

        <div class="buttons" style="float: right">
          <button class="retire" (click)="close()">Cancel</button>
          <button class="save-bots" (click)="saveTask(); close();">OK</button>
        </div>

      </div>
    </modal>

<div>
<!-- TITLE -->
<div id="container-top-header">
  <div id="container-header" class="col-md-12">
    <div id="title-section" >
      MANAGE BOTS
    </div>

    <div id="title-section desc">
      Each bot is pre-configured with basic tasks to suite each type of user
    </div>

  </div>

<!-- TABLE -->
<div class="mycontainer">

<div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Bot Types</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let bot of bots"
              [class.selected]="bot === selectedBot"
              (click)="onSelectBot(bot)">
              <td class="">{{botService.getDisplayName(bot)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>TASKS</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of tasks"
                [class.selected]="task === selectedTask"
                (click)="onSelectTask(task)">
                <td class="">{{task.task}}</td>
                <span class="glyphicon glyphicon-pencil" (click)="open(task)"></span>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>SELECTED CONTACTS</th>
        </tr>
      </thead>
        <tbody>
        <tr class="" *ngFor="let contact of contacts"
                  [class.selected]="contact === selectedContact"
                  (click)="onSelectContact(contact)">
              <td>
                <div *ngIf="contact">
                  <p>{{contact.fullName || contact.name}}
                    <span>
                      <input class="selectBday" type="date" style="width:170px; border: 0px;" [(ngModel)]="contact.birthday"/>
                      <span class="glyphicon glyphicon-remove" (click)="removeSelectedContact(contact)"></span>
                    </span>
                  </p>
                </div>
              </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-3">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>AVAILABLE CONTACTS</th>
        </tr>
      </thead>
        <tbody>
        <tr class="list-container">
          <td class="list-contents">
            <search-component [bot]="selectedBot"></search-component>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- BUTTONS -->
    <div class="buttons">
      <button class="save-bots" (click)="submitAllSettings()"> Save Bots! </button>
      <button class="send-now" (click)="sendNow()"> Send Now! </button>
      <span *ngIf="selectedBot.id">
        <button class="retire" (click)="retireBot()"> Retire Bot </button>
      </span>
    </div>

  </div>

<div style="height: 400px">

</div>

</div>
<!------------------------------ SUBSCRIBED VERSION ------------------------------>

<div style="border: 1px solid black; position: absolute;
    top: 1000px;
    left: 0px;
    width: 100%;">

<div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>YOUR BOTS</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let bot of store.userBots | async"
              [class.selected]="bot === selectedBot"
              (click)="store.selectBot(bot)">
              <td class="">{{bot.botType}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>TASKS</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of (store.selectedBot | async)?.tasks">                
                <p> {{task.task}} </p>
                <span class="glyphicon glyphicon-pencil" (click)="open(task)"></span>
        </tr>
      </tbody>
    </table>
  </div>

 

 <div class="col-md-3">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>AVAILABLE CONTACTS</th>
        </tr>
      </thead>
        <tbody>
        <tr class="list-container">
          <td class="list-contents">
            <tr *ngFor="let contact of store.availableContacts | async">
                <p> {{contact.name}} </p>
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>