## Mac OSX ##
.DS_Store

## NPM ##
node_modules/
app/

server/config/gmailKeys.js
server/config/api-services.js

## PRIVATE KEYS ##
./private_keys.js
private_keys.js
env.js
./env.js

## intro video ##
app/assets/rapport+intro.mp4
src/assets/rapport+intro.mp4