/* Master Styles */
html{
  margin: 0;
}
body {
  margin: 0;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0px;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Rapport Layout */

/* GLOBAL */
.signup-login {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 13px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* LANDING PAGE */
video#bgvid {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: repeat;
  background-size: cover;
  position: absolute;
  left: -20%;
  z-index: -1;

}

#container-landing-page {
  position: absolute;
  top: 45%;
  right: 15%;
  z-index: 1;
}

#title-main {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 75px/1 Arial, Helvetica, sans-serif;
  /*color: #5a5a5a;*/
  color: #292929;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#title-main #tagline {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 15px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: justify;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#button-signup {

}

/* PAGES */
#title-anchor {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 15px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#title-section {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 Arial, Helvetica, sans-serif;
  color: #5a5a5a;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#title-section #desc {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 12px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* CHOOSE BOT PAGE */
#carousel {

}

#carousel #box-choose-bot{

}

#carousel #img-choose-bot {

}

#carousel #name-bottype {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 20px/1 Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#carousel #description {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 10px/1 Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#carousel #img-prev-next {

}

/* DASHBOARD */
#menu-bottype {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 14px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#table-dashboard {

}

#table-dashboard #title-col {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 15px/1 Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#table-dashboard #description-col {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 12px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#advanced-settings {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 11px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#button-bot-action {

}
