/* Master Styles */
/*font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;*/
html{
  margin: 0;
}
body {
  margin: 0;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0px;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Rapport Layout */

/* GLOBAL */

p {
  line-height:1em;
  font-family: 'Roboto', sans-serif;
}

#container-top-header {
  z-index: 1;
}

#signup-login {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 15px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: right;
  position: absolute;
  right:1%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* LANDING PAGE */
video#bgvid {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: repeat;
  background-size: cover;
  position: absolute;
  left: -20%;
  z-index: -999;
}

#container-landing-page {
  position: absolute;
  top: 45%;
  right: 15%;
  z-index: 1;
}

#title-main {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 0.2em;
  font-size: 6em;
  line-height:0.8;
  padding-left:0.2em;
  /*color: #5a5a5a;*/
  color: #292929;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#tagline {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.table {
  background-color:;
}
/*this loads image*/
/*#button-signup {
  z-index:1;
  background-image: url('./app/assets/button-signup.png');
  background-size:contain;
  background-repeat:no-repeat;
  height:100px;
  width:200px;
  font-family: 'Inconsolata', monospace;
}*/

.button {
-webkit-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.2);
box-shadow: 4px 5px 5px -1px rgba(0,0,0,0.2);
}

#button-signup {
  margin: auto;
  height:1.8em;
  width:9em;
  font-family: 'Inconsolata', monospace;
  font-size:1.2em;
  line-height:1.8em;
  letter-spacing: 0.3em;
  color:white;
  text-align: center;
  background-color: #93BA4C;
}

#button-signup:hover {
  background-color: #87a5c1;
  cursor:hand;
}


/* PAGES */
#title-anchor {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 20px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: left;
  position: absolute;
  left: 1%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


#container-header {
  position: relative;
  top: 6em;
  left: 8%;
  z-index: 1;
}

#title-section {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 3em Arial, Helvetica, sans-serif;
  color: #5a5a5a;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#title-section #desc {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 1.2em Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* CHOOSE BOT PAGE */
#carousel {

}

.box-choose-bot-basic{
  position: relative;
  width: 16em;
  height: 25em;
  background-color: grey;
  margin-left: 2.5em;
  margin-right: 2.5em;
  background-image: url("http://i.imgur.com/R2ApPct.png");
  background-position: 25% 18%;

}

.box-choose-bot-basic:hover {
  background-color: #87a5c1;
  background-image: url("http://i.imgur.com/YosUqT6.png");
  cursor:hand;
}

.box-choose-bot-social{
  position: relative;
  width: 16em;
  height: 25em;
  background-color: grey;
  margin-left: 2.5em;
  margin-right: 2.5em;
  background-image: url("http://i.imgur.com/gba3tiD.png");
  background-position: 25% 18%;

}

.box-choose-bot-social:hover {
  background-color: #87a5c1;
  background-image: url("http://i.imgur.com/YosUqT6.png");
  cursor:hand;
}

.box-choose-bot-power{
  position: relative;
  width: 16em;
  height: 25em;
  background-color: grey;
  margin-left: 2.5em;
  margin-right: 2.5em;
  background-image: url("http://i.imgur.com/SCFGOcw.png");
  background-position: 25% 18%;

}

.box-choose-bot-power:hover {
  background-color: #87a5c1;
  background-image: url("http://i.imgur.com/YosUqT6.png");
  cursor:hand;
}

.img-choose-bot {
  /*position: absolute;*/
  width: 22em;
  height: auto;
  z-index: 1;
}

.img-bot-icon-main img{
  /*position: absolute;*/
  position: absolute;
  width: 8em;
  top:3em;
  height: auto;
  left:4.25em;
  z-index: 2;
}

.img-bot-icon-1 {
  left:8.5em;
}

.img-bot-icon-2 {
  left:27em;
}

.img-bot-icon-3 {
  left:45.5em;
}

.name-bottype-main {
/*  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;*/
  /*font: normal 25px/1 Arial, Helvetica, sans-serif;*/
  font-size: 25px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #ffffff;
  text-align: center;
/*  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;*/
  position: absolute;
  width: 8em;
  top:7.5em;
  left:1.2em;
  height: auto;
  z-index: 2;
}

.name-bottype-1 {
  left:3.5em;
}

.name-bottype-2  {
  left:20.8em;
}

.name-bottype-3 {
  left:35.5em;
}

/*#carousel #img-choose-bot {

}*/

.bottype-desc-main {
/*  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;*/
  /*font: normal 1em/1 Arial, Helvetica, sans-serif;*/
  font-size: 1em/1;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #ffffff !important;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: absolute;
  width: 16em;
  top:16em;
  height: auto;
  z-index: 2;
}

.bottype-desc-main li {
  color: #ffffff;
  font-size: 1em/1;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-right: 1em;
}

.bottype-desc-1 {
  left:3.9em;
}

.bottype-desc-2  {
  left:33.8em;
}

.bottype-desc-3 {
  left:63em;
}

#carousel #name-bottype {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 20px/1 Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#carousel #description {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 10px/1 Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#carousel #img-prev-next {

}

/* DASHBOARD */
#menu-bottype {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 14px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#table-dashboard {

}

#table-dashboard #title-col {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 15px/1 Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#table-dashboard #description-col {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 12px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#advanced-settings {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 11px/1 Arial, Helvetica, sans-serif;
  color: #282828;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#button-bot-action {

}

.mycontainer {
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
.container-botType {
  position: relative;
  top: 8em;
/*  left: 25%;*/
  /*width:;*/
}

.botCards:nth-of-type(1) {
  background-color: blue;
  width: 18em;
  height: 25em;
  position: relative;
  margin-right: 5em;
  background-position: 25% 18%;
  /*background-image: url("app/assets/card-socialbot.png");*/
}

.botCards:nth-of-type(2) {
  width: 18em;
  height: 25em;
  background-color: green;
  position: relative;
  margin-right: 5em;
  background-position: 25% 18%;
}

.botCards:nth-of-type(3){
  width: 18em;
  height: 25em;
  background-color:orange;
  position: relative;
  margin-right: 5em;
  background-position: 25% 18%;
}












