/*div {
  width: 100px;
  height: 100px;
}*/

.spinner img {
    display: block;
    top:30px;
    left:75px;
    position:absolute;

    /* position: relative; */
}

.spinner {
  margin:auto;
  z-index: 1;
  padding:15em;
}

div .modal-dialog {
  width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

div .modal-content  {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.spin {
  color:#999;
  position:absolute;
  top:16em;
  left:13em;
}