 <video class="vid" autoplay>
    <source src="https://s3.amazonaws.com/nth-hack-reactor/rapport-assets/rapportDashboard.mp4" type="video/mp4">
  </video >

    <modal #myModal>
      <div id="modal-style">

        <div class="semi-header">
          Connect Rapport to your Facebook.
        </div>

        <div>
          You have chosen a supercharged bot that uses extra abilities.
          This will require extra verification.
        </div>

        <div class="form-group">
          <span>Email:  </span>
          <input class="fb-input" type="text" (focus)="uiVars.invalid = false" [(ngModel)]="fbUsername">
        </div>

        <div>
          <span>Password:
          </span>
          <input class="fb-input" type="password" (focus)="uiVars.invalid = false" [(ngModel)]="fbPassword">
        </div>

        <div *ngIf="uiVars.invalid === true">
          <p style="color: red">invalid email or password</p>
        </div>

        <div *ngIf="uiVars.loading === true" class="spinner">
          <img src="http://tecnoesis.in/Modules/img/drop16.gif" />
        </div>

        <div class="fb-buttons">
          <button class="btn btn-primary" (click)="fbLogin()" [disabled]="!fbPassword || !fbUsername">Submit</button>
          <button class="btn btn-secondary" (click)="close()">Cancel</button>
        </div>

      </div>
    </modal>

    <modal #powerModal>
      <div id="modal-style-power">

        <div class="semi-header">
          Congratulations!
        </div>

        <div>
          You already have power bot features enabled during the trial period. Your free trial comes with the following power bot features:
          <ul style="list-style-type:none">
              <li>- 30-day Free Trial then $1.99/mo
              </li>
              <li>- UNLOCK GIYPHIES
              </li>
              <li>- UNLOCK Custom Messages / Names / Intervals
              </li>
              <li>- UNLOCK for Gmail and Facebook bots
              </li>
          </ul>
        </div>

      </div>
    </modal>


  <div id="container-header">

    <div id="title-section" >
      ADD A BOT
    </div>

    <div id="title-section desc">
      Each bot is pre-configured with basic tasks to suite each type of user
    </div>

  </div>


<div class="container container-botType">
    <div class="row">
      <a (click)="handleClick(bots[0])" class="col-4">
        <div class="box-choose-bot-basic">
          <div class="img-bot-icon-main">
            <img src="http://i.imgur.com/emScEHM.png">
          </div>

          <div class="name-bottype-main">
            Basic Bot
          </div>

          <div class="bottype-desc-main">
            <ul style="list-style-type:none">
              <li>- sends a greeting email every 6 months
              </li>
              <li>- sends a birthday email on your contacts' birthdays
              </li>
            </ul>
          </div>

        </div>

      </a>
      <a (click)="handleClick(bots[1])" class="col-4">

        <div class="box-choose-bot-social">
           <div class="img-bot-icon-main" >
              <img src="http://i.imgur.com/emScEHM.png">
           </div>

           <div class="name-bottype-main">
              Social Bot
           </div>
            <div class="bottype-desc-main">
              <ul style="list-style-type:none">
                <li>- sends a greeting message to you Facebook friends
                </li>
                <li>- sends a birthday message to your Facebook friends
                </li>
              </ul>
            </div>
        </div>

      </a>
      <a (click)="handleClick(bots[2])" class="col-4">

        <div class="box-choose-bot-power">

          <div class="img-bot-icon-main">
            <img src="http://i.imgur.com/emScEHM.png">
          </div>

          <div class="name-bottype-main">
          Power Bot
          </div>
          <div class="bottype-desc-main">
            <ul style="list-style-type:none">
              <li>- 30-day Free Trial then $1.99/mo
              </li>
              <li>- UNLOCK GIYPHIES
              </li>
              <li>- UNLOCK Custom Messages / Names / Intervals
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
</div>


<!-- old save for code reuse -->
<!-- <div class="grid grid-pad">
  <a *ngFor="let bot of bots" (click)="handleClick(bot)" class="col-1-4">
    <div class="module hero">
      <h4>{{bot.botType}}</h4>
    </div>
  </a>
  </div> -->
