
<!-- <h3>Top Bots</h3> -->

<!-- nam -->
<div id="container-top-header">
  <span id="title-anchor">Rapport</span>
  <span id="signup-login">Logout</span>
</div>

<div id="container-header">
  <div id="title-section" >
    SELECT A BOT
  </div>

  <div id="title-section desc">
  Each bot is pre-configured with basic tasks to suite each type of user
  </div>
</div>
<!-- end nam -->

<!-- old save for code reuse -->
<!-- <div class="grid grid-pad">
  <a *ngFor="let bot of bots" (click)="handleClick(bot)" class="col-1-4">
    <div class="module hero">
      <h4>{{bot.botType}}</h4>
    </div>
  </a>
  </div> -->
  <div class="container">
    <div class="row">
    <a *ngFor="let bot of bots" (click)="handleClick(bot)" class="col-4">
        <!-- vi section -->
      <div class="module hero">
        <h4>{{bot.botType}}</h4>
      </div>

    </a>
    <a *ngFor="let bot of bots" (click)="handleClick(bot)" class="col-4">

      <div class="module hero">
        <h4>{{bot.botType}}</h4>
      </div>

    </a>
    <a *ngFor="let bot of bots" (click)="handleClick(bot)" class="col-4">

      <div class="module hero">
        <h4>{{bot.botType}}</h4>
      </div>

    </a>
  </div>
  </div>

