<div class="activities-table-container" >

  <div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>BOT NAME</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
                {{task.botName || task.botType}}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>RECIPIENT NAME</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
                {{task.name || task.contactName}}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Task</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
                {{task.task}}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Message</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
                {{task.message}}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>DATE</th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
                {{task.date}}
        </tr>
      </tbody>
    </table>
  </div>

</div>