h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: transparent;
  font-family: 'Inconsolata', monospace;
  font-size:1.2em;
  text-transform:uppercase;
  letter-spacing: 0.3em;
  border-radius: 4px;
}
.right{
  float: right;
}
nav a:visited, a:link {
  color: #111;
}
nav a:hover {
  color: #039be5;
  cursor: hand;
  /*background-color: #CFD8DC;*/
}
nav a.active {
  color: #039be5;
}

html{
  margin: 0;
}

body {
  margin: 0;
}

