nav {
  background-color: rgba(40,69,79,0.5);
}

ul {
  height: 30px;
  width: 300px;
  padding: 0px;
  margin-left : 600px;
  margin-top: 200px;
}

ul li {
  position: relative;
  width: 100px;
  list-style: none;
  float: left;
  margin-top: 5px;
}

li a {
  text-decoration: none;
  color: black;
}

html{
  margin: 0;
}

body {
  background-image: url("http://i.imgur.com/Fkt1vEL.jpg");
  margin: 0px;
  padding: 0px;
}
