/*#container-landing-page {
  position: absolute;
  top: 30%;
  right: -25%;
  z-index: 1;
}*/

.main-view {
  position: relative;
  left:0px;
  height:140vh;
}

.one-view {
  position: relative;
}

.one-view .content {
  margin-left:0px;
  height:100vh;
}

.one-view .content-start {
  margin-left:0px;
  height:50vh;
}

.table.features3>tbody>tr>td, .table.features3>tbody>tr>th, .table.features3>tfoot>tr>td, .table.features3>tfoot>tr>th, .table.features3>thead>tr>td, .table.features3>thead>tr>th {
  border-top:none !important ;
}

.features3 h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: #fff;
}

.features3 li{
  text-indent:18em;
  color:white;
  white-space:nowrap;

}


/*.save {
  text-align:center;
  height:50vh;
  background-color: #D4D4D4;
}*/

.gmailbg {
  background-color: #D4D4D4;
}

.start {
  background-color: #252222;
}

.devteam {
  background-color: #D4D4D4;
}

.featuresbg {
  background-color: #5D5D5D;
  padding:8em 25em;
}

/*.row.featuresbg {
  padding:4em 3em;
  background-color: #5D5D5D;
  text-align:center;
}*/

.col-md-3.features {
  float:left;
}

.featuresli {
  float:right;
}

.featuresbg li {
  color:white;
}

/*.features h2 {
  color:white;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  top:4.5em;
}*/

.fbbg {
  background-color: #919191;
}

.facebook li {
  text-align:left;
  font-size: 1em;
  color: #282828;
  position: relative;
  top: 9em;
  left:50%;
}

/*.gmail-view {
  height:50vh;
}

.gmail-view .content {
  height:50vh;
  background-color: #D4D4D4;
}*/

.gmail h2 {
  text-align:center;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: #282828;
  position: relative;
  top: 9em;
  left: 50%;
}

.features h2 {
  text-align:center;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 4.5em;
  left: 50%;
}

.facebook h2 {
  text-align:center;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: #282828;
  position: relative;
  top: 6em;
  left:50%;
}

.start h2 {
  text-align:center;
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: 4em;
  /*left: 50%;*/
}

.devteam h2 {
  text-align:center;
  font-family: 'Inconsolata', monospace;
  font-size: 3em;
  letter-spacing:0.335em;
  text-transform: uppercase;
  color: black;
  position: relative;
  top: 1em;
  /*left: 50%;*/
}

#button-start {
  margin: auto;
  height:1.8em;
  width:9em;
  font-family: 'Inconsolata', monospace;
  font-size:1.2em;
  line-height:1.8em;
  letter-spacing: 0.3em;
  color:white;
  text-align: center;
  background-color: #93BA4C;
  position: relative;
  top:8em;
}

#button-start:hover {
  background-color: #87a5c1;
  cursor:hand;
}

#gmailScreen.col-md-4 {
  margin-top:2.5em;
  right:-4em;
  float:right;
}

#facebookScreen.col-md-4 {
  margin-top:2.5em;
  left:-23em;
  float:left;
}

