<div class="navbar-header">
    </div>

  <video id="bgvid" autoplay>
    <source src="https://s3.amazonaws.com/nth-hack-reactor/rapport-assets/rapport%2Bintro.mp4" type="video/mp4">
  </video >

<div id="container-landing-page">
  <div id="title-main">
  RAPPORT
  </div>
  <div id="tagline">
  KEEP YOUR CONNECTIONS
  </div>
  <div (click)="login()" class="button" id="button-signup">
    SIGN-UP
  </div>
</div>

<div class="main-view">
</div>

<div class="one-view">
  <div class="content row gmailbg">
    <div class="col-md-4 gmail">
      <h2>automate emails on gmail to stay in touch with your professional connections
        <br>
        <img src="http://i64.tinypic.com/5mgt8m.png">
      </h2>
    </div>
    <div class="col-md-4" id="gmailScreen">
      <img src="http://i66.tinypic.com/2h2qsdu.png">
    </div>
  </div>
</div>

<div class="one-view">
  <div class="content row fbbg">
    <div class="col-md-4" id="facebookScreen">
      <img src="http://i67.tinypic.com/2vu0baf.png" border="0"><p>hello</p>
    </div>
    <div class="col-md-4 facebook">
      <h2>automate facebook messages to stay in touch with your social connections
        <br>
        <img src="http://i63.tinypic.com/sgk7xh.jpg">
      </h2>
    </div>
  </div>
</div>


<div class="one-view featuresbg">
<table class="table features3">
  <tbody>
    <tr>
      <td><h2>features:</h2></td>
      <td>
        <li>Casual greetings with custom intervals.</li>
        <li>Holiday greetings and custom messages.</li>
        <li>Happy birthday wishes with giphies in gmail.</li>
        <li>Automatically loaded contacts for easy selection.</li>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div class="one-view">
  <div class="content-start row start">
    <div class="col-md-12 start">
      <h2>DO LESS. HAVE MORE.</h2>
      <div (click)="login()" class="button" id="button-start">
    START
  </div>
    </div>
  </div>
</div>


<!-- <div class="developers">

  <div class="row">
    <h2>development team</h2>
  </div>

  <div class="row">
    <div class="col-sm-3">
      One of three columns
    </div>
    <div class="col-sm-3">
      One of three columns
    </div>
    <div class="col-sm-3">
      One of three columns
    </div>
    <div class="col-sm-3">
      One of three columns
    </div>
  </div>

</div> -->
