<div class="navbar-header">
    </div>

  <video id="bgvid" autoplay>
    <source src="https://s3.amazonaws.com/nth-hack-reactor/rapport-assets/rapport%2Bintro.mp4" type="video/mp4">
  </video >

<div id="container-landing-page">
  <div id="title-main">
  RAPPORT
  </div>
  <div id="tagline">
  KEEP YOUR CONNECTIONS
  </div>
  <div (click)="login()" class="button" id="button-signup">
    SIGN-UP
  </div>
</div>

<div class="main-view">
</div>

<div class="one-view">
  <div class="content row">
    <div class="col-md-4 gmail">
      <h2>automate emails on gmail</h2>
    </div>
    <div class="col-md-4" id="gmailScreen">
      <img src="http://i66.tinypic.com/2h2qsdu.png">
    </div>
  </div>
</div>

<div class="one-view">
  <div class="content row">
    <div class="col-md-4" id="facebookScreen">
      <img src="http://i67.tinypic.com/2vu0baf.png" border="0"><p>hello</p>
    </div>
    <div class="col-md-4 facebook">
      <h2>automate facebook messages</h2>
    </div>
  </div>
</div>

<div class="one-view">
  <div class="content row">
    <h2>save time. save energy.</h2>
    <h2>save connections.</h2>
  </div>
</div>


<div class="one-view">
  <div class="content">
    <p>Hello</p>
  </div>
</div>