
 <video class="vid" autoplay>
    <source src="https://s3.amazonaws.com/nth-hack-reactor/rapport-assets/rapportDashboard.mp4" type="video/mp4">
  </video >

<div>
<!-- TITLE -->
  <div id="container-top-header">
    <div id="container-header" class="col-md-12">
      <div id="title-section" >
        VIEW ACTIVITIES
      </div>

      <div id="title-section desc">
        All recent and upcoming activity for all of your bots
        Optionally filter by bot.
      </div>

    </div>
</div>


<!--log display columns-->

  <div id="activity-tables">
    <div class="row">
      <h3 class="col-md-3 scheduled">SCHEDULED ACTIVITIES:</h3>
    </div>
    <div class="row">
      <ActivitiesTable [tasks]='subscribedScheduled' [bots]='bots' [clickFunction]='filterByBot' class="atables" ></ActivitiesTable>
    </div>
    <div class="row">
      <h3 class="col-md-3 recent">RECENT ACTIVITIES:</h3>
    </div>
    <div class="row">
      <ActivitiesTable [tasks]='subscribedRecent' [bots]='bots' [clickFunction]='filterByBot' class="atables"></ActivitiesTable>
    </div>
  </div>