
 <video class="vid" autoplay>
    <source src="https://s3.amazonaws.com/nth-hack-reactor/rapport-assets/rapportDashboard.mp4" type="video/mp4">
  </video >

<div>
<!-- TITLE -->
  <div id="container-top-header">
    <div id="container-header" class="col-md-12">
      <div id="title-section" >
        VIEW ACTIVITIES
      </div>

      <div id="title-section desc">
        Each bot is pre-configured with basic tasks to suite each type of user
      </div>

    </div>


<!--log display columns-->

<h2>SCHEDULED ACTIVITIES</h2>
  <div>
    <activites-table [tasks] = 'scheduled'></activites-table>
    <activites-table [tasks] = 'recent'></activites-table>
  </div>
</div>